@using DTO.MovieDto

@model MovieDto
@{
	ViewData["Title"] = "MovieDetail";
	Layout = "~/Views/UserUILayout/LayoutUI.cshtml";
}
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>


<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			@await Component.InvokeAsync("_MovieImageAndWatchTrailerComponentPartial", new { dto = Model });
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">@Model.Title<span> @Model.Release_date</span></h1>
					@await Component.InvokeAsync("_MovieDetailShareSocialMediaComponentPartial", new { dto = Model });
					@await Component.InvokeAsync("_MovieRateComponentPartial", new { dto = Model });
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								@* <li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li> *@
								<li><a href="#moviesrelated"> Related Movies</a></li>
							</ul>
							<div class="tab-content">
								@await Component.InvokeAsync("_MovieOverviewComponentPartial",new {dto =Model} );
								<div id="reviews" class="tab review">
									@await Component.InvokeAsync("_MovieReviewsComponentPartial", new { dto = Model });
								</div>
								@* <div id="cast" class="tab">
									@await Component.InvokeAsync("_MovieCastAndCrewComponentPartial", new { movieDto = Model });
								</div>
								<div id="media" class="tab">
									@await Component.InvokeAsync("_MovieMediaComponentPartial", new { dto = Model });
								</div> *@
								<div id="moviesrelated" class="tab">
									@await Component.InvokeAsync("_MovieRelatedMoviesComponentPartial", new { dto = Model });
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
