@using DTO.GenreDto
@model List<GenreDto>

<div class="col-md-12 form-it">
    <label>Türler & Alt Türler</label>
    <div class="group-ip">
        <select name="skills" multiple="" class="ui fluid dropdown">
            <option value="">Türleri filtrelemek için yazın</option>
            @foreach(var i in Model)
            {
                <option value="Action1">@i.Name</option>
            }         
        </select>
    </div>
</div>