
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index-2.html"><img class="logo" src="/Film-Review-Movie-Database/images/logo1.png" alt=""></a>
				<p>
					Cumhuriyet cad. Fikret Gültekin sk.<br>
					No1/1
				</p>
				<p>Telefon: <a href="#">(+90) 545 721 6344</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Bağlantılar</h4>
				<ul>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">İletişime geç</a></li>
					<li><a href="#">Form</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Yardım Merkezi</a></li>
				</ul>
			</div>
            <div class="flex-child-ft item3">
            <h4>Yasal</h4>
            <ul>
            <li><a href="#">Kullanım Şartları</a></li>
            <li><a href="#">Gizlilik Sözleşmesi</a></li>
            <li><a href="#">Güvenlik</a></li>
            </ul>
            </div>
			<div class="flex-child-ft item4">
				<h4>Hesap</h4>
				<ul>                 
                    <li><a href="#">Hesabım</a></li>
                    <li><a href="#">İzleme Listem</a></li>
                    <li><a href="#">Koleksiyonlar</a></li>
                    <li><a href="#">Kullanıcı Rehberi</a></li>                  
				</ul>
			</div>
            <div class="flex-child-ft item5">
            <h4>Bülten</h4>
            <p>Bülten sistemimize şimdi abone olun <br> ve bizden en son haberleri alın.</p>
            <form action="#">
            <input type="text" placeholder="E-posta adresinizi girin...">
            </form>
            <a href="#" class="btn">Şimdi abone ol <i class="ion-ios-arrow-forward"></i></a>
            </div>
            </div>
            </div>
            <div class="ft-copyright">
            <div class="ft-left">
            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
            </div>
            <div class="backtotop">
            <p><a href="#" id="back-to-top">Yukarı çık <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
            </div>
</footer>