@using DTO.MovieDto
@model MovieDto



<div class="social-btn">
	<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
	<div class="hover-bnt">
		<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
		<div class="hvr-item">
			<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
			<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
			<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
			<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
		</div>
	</div>
</div>

@* Bu  partial view'da  social media linkleri kullanılacak. Veritabanından gelen linkler belirtilecek. *@