@using DTO.MovieDto
@model MovieDto

<div id="overview" class="tab active">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<p>Leonard Hofstadter and Sheldon Cooper are both brilliant physicists working at Cal Tech in Pasadena, California. They are colleagues, best friends, and roommates, although in all capacities their relationship is always tested primarily by Sheldon's regimented, deeply eccentric, and non-conventional ways.</p>
			<div class="title-hd-sm">
				<h4>Current Season</h4>
				<a href="#" class="time">View All Seasons <i class="ion-ios-arrow-right"></i></a>
			</div>
			<!-- movie cast -->
			<div class="mvcast-item">
				<div class="cast-it">
					<div class="cast-left series-it">
						<img src="images/uploads/season.jpg" alt="">
						<div>
							<a href="#">Season 10</a>
							<p>21 Episodes</p>
							<p>
								Season 10 of The Big Bang Theory premiered on
								September 19, 2016.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="title-hd-sm">
				<h4>Videos & Photos</h4>
				<a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="mvsingle-item ov-item">
				<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image41.jpg"><img src="images/uploads/image4.jpg" alt=""></a>
				<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image51.jpg"><img src="images/uploads/image5.jpg" alt=""></a>
				<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image61.jpg"><img src="images/uploads/image6.jpg" alt=""></a>
				<div class="vd-it">
					<img class="vd-img" src="images/uploads/image7.jpg" alt="">
					<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
				</div>
			</div>
			<div class="title-hd-sm">
				<h4>cast</h4>
				<a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
			</div>
			<!-- movie cast -->
			<div class="mvcast-item">
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast1.jpg" alt="">
						<a href="#">Robert Downey Jr.</a>
					</div>
					<p>...  Robert Downey Jr.</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast2.jpg" alt="">
						<a href="#">Chris Hemsworth</a>
					</div>
					<p>...  Thor</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast3.jpg" alt="">
						<a href="#">Mark Ruffalo</a>
					</div>
					<p>...  Bruce Banner/ Hulk</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast4.jpg" alt="">
						<a href="#">Chris Evans</a>
					</div>
					<p>...  Steve Rogers/ Captain America</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast5.jpg" alt="">
						<a href="#">Scarlett Johansson</a>
					</div>
					<p>...  Natasha Romanoff/ Black Widow</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast6.jpg" alt="">
						<a href="#">Jeremy Renner</a>
					</div>
					<p>...  Clint Barton/ Hawkeye</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast7.jpg" alt="">
						<a href="#">James Spader</a>
					</div>
					<p>...  Ultron</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="images/uploads/cast9.jpg" alt="">
						<a href="#">Don Cheadle</a>
					</div>
					<p>...  James Rhodes/ War Machine</p>
				</div>
			</div>
			<div class="title-hd-sm">
				<h4>User reviews</h4>
				<a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
			</div>
			<!-- movie user review -->
			<div class="mv-user-review-item">
				<h3>Best Marvel movie in my opinion</h3>
				<div class="no-star">
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star last"></i>
				</div>
				<p class="time">
					17 December 2016 by <a href="#"> hawaiipierson</a>
				</p>
				<p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
			</div>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-12">
			<div class="sb-it">
				<h6>Director: </h6>
				<p><a href="#">Mark Cendrowski</a></p>
			</div>
			<div class="sb-it">
				<h6>Writer: </h6>
				<p><a href="#"> Chuck Lorre,</a> <a href="#">Bill Prady</a></p>
			</div>
			<div class="sb-it">
				<h6>Stars: </h6>
				<p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
			</div>
			<div class="sb-it">
				<h6>Genres:</h6>
				<p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
			</div>
			<div class="sb-it">
				<h6>Release Date:</h6>
				<p>1 May 2006 (U.S.A)</p>
			</div>
			<div class="sb-it">
				<h6>Run Time:</h6>
				<p>22 min</p>
			</div>
			<div class="sb-it">
				<h6>MMPA Rating:</h6>
				<p>TV-14</p>
			</div>
			<div class="sb-it">
				<h6>Plot Keywords:</h6>
				<p class="tags">
					<span class="time"><a href="#">superhero</a></span>
					<span class="time"><a href="#">marvel universe</a></span>
					<span class="time"><a href="#">comic</a></span>
					<span class="time"><a href="#">blockbuster</a></span>
					<span class="time"><a href="#">final battle</a></span>
				</p>
			</div>
			<div class="ads">
				<img src="images/uploads/ads1.png" alt="">
			</div>
		</div>
	</div>
</div>